body {
  background-color: lightblue;
}

.posts {

}

.post {
  background-color: white;
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  border-radius: 5px;
  padding: 30px;
}

.top-right {
  position: absolute;
  top: 50px;
  right: 50px;
}
